<div class="view jarallax" style="height: 100vh;">
    <img class="jarallax-img" src="assets/hs_sw.jpg" alt="">
    <div class="mask pattern-8 flex-center waves-effect waves-light">
    </div>
    <div class="mask rgba-blue-slight">
      <div class="container flex-center text-center">
        <div class="row mt-5">
          <div class="col-md-12 col-xl-8 mx-auto wow fadeIn">
            <h1 class="display-3 font-weight-bold mb-2 wow fadeInDown" data-wow-delay="0.3s">Parallax image with a mask and a content</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
