<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>


      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

      

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>

            <a (click)="impressum.show()">Impressum</a>

          </li>
          <li>
            <a (click)="privacyPolicy.show()">Datenschutzerklärung</a>
          </li>
          <li>
            <a href="https://gruppe-keiler.de/" target="_blank">Partner Community Gruppe-Keiler</a>
          </li>
          <li>
            <a (click)="thirdPartyL.show()">used 3rd party licenses</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Modal dialog Impressum-->
  <div mdbModal #impressum="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="impressum.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" style="color:black" id="myModalLabel">Impressum</h4>
      </div>
      <div class="modal-body " style="color:black; text-align: center;">
        <img src="assets/Impressum.png">       

      </div>
    </div>
  </div>
</div>

<!-- Modal dialog Datenschutz-->
<div mdbModal #privacyPolicy="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="privacyPolicy.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title" style="color:black" id="myModalLabel">Datenschutzerklärung</h4>
    </div>
    <div class="modal-body" style="color:black">
      <div>
        <p >Anstatt einen meterlangen Datenschutztext hier reinzustellen (den eh keiner liest) beschränke ich mich kurz auf das Wesentliche:</p>
    
        <p>Es werden keine Daten mit dem Zweck der Datenauswertung gesammelt. Durch die Nutzung entsprechender Techniken gibt es jedoch ein Logfile mit Zugriffen und IP-Adressen. Diese dient ggf. zur Fehlersuche.</p>
    
        <p >Alle Skripte, bis auf das Skript von tsviewer.com, liegen direkt auf dem Server. Bis auf die eine Ausnahme werden also keine Verbindungen zu Dritt-Anbietern bei der Nutzung der Seite aufgebaut.</p>
        <p>Die Datenschutzerklärung von TSviewer.com kann hier nachgelesen werden:</p> 
        <a target="_blank" href="https://www.tsviewer.com/index.php?page=privacy" style="color: black;">Tsviewer Privacy</a> 
        <br>
        <p >Es werden keine Tracking-Cookies genutzt.</p>
    </div>
    </div>
  </div>
</div>
</div>

 <!-- Modal dialog third part licenses-->
  <div mdbModal #thirdPartyL="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="thirdPartyL.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" style="color:black" id="myModalLabel">3d party licenses</h4>
      </div>
      <div class="modal-body" style="color:black">
        <div style="font-weight: bold;">MDBoostrap License</div>
        Copyright (c) 2019 MDBootstrap.com

        Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
        associated documentation files (the "Software"), to deal in the Software without restriction,
        including without limitation the rights to use, copy, modify, merge, publish, distribute,
        sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is
        furnished to do so, subject to the following conditions:

        The above copyright notice and this permission notice shall be included in all copies or substantial
        portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
        NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
        NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES
        OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
        CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
      </div>
    </div>
  </div>
</div>

</footer>
<!-- Footer -->