<!--Navbar-->
<mdb-navbar style="opacity: 95%;" SideClass="navbar fixed-top navbar-expand-lg navbar-dark mdb-color darken-4 scrolling-navbar intro-fixed-nav">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="assets/tfh.png" width="50px"></a></mdb-navbar-brand>
  
  <!-- Collapsible content -->
  <links>

      <!-- Links --><header class="h-100">
      <ul class="navbar-nav mr-auto">

          <li class="nav-item">
              <a class="nav-link waves-light" href="#start" mdbPageScroll mdbWavesEffect>Start</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" style="color:#ffea00" href="#rules" mdbPageScroll  mdbWavesEffect>Rules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" href="#ts" mdbPageScroll mdbWavesEffect>Teamspeak</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" href="#minecraft" mdbPageScroll mdbWavesEffect>Minecraft</a>
          <li class="nav-item">
            <a class="nav-link waves-light" href="#page4" mdbPageScroll mdbWavesEffect>Page4</a>
        </li>

      </ul>
    </header>
      <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
