<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div>

  <app-toolbar></app-toolbar>

  <app-head id="start"></app-head>

  <app-page1 id="rules"></app-page1>
  <div class="view jarallax" style="height: 50vh;">
    <img class="jarallax-img" src="https://mdbootstrap.com/img/Photos/Others/city13.jpg" alt="">
  </div>

  <app-page2 id="ts"></app-page2>
  <div class="view jarallax" style="height: 50vh;">
    <img class="jarallax-img" src="http://mdbootstrap.com/img/Photos/Others/nature4.jpg" alt="">
  </div>

  <app-page3 id="minecraft"></app-page3>
  <div class="view jarallax" style="height: 50vh;">
    <img class="jarallax-img" src="http://mdbootstrap.com/img/Photos/Others/city10.jpg" alt="">
  </div>

  <app-page4 id="page4"></app-page4>
  <app-footer></app-footer>

</div>

<router-outlet></router-outlet>