<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div >

  <app-toolbar></app-toolbar>

  <app-head class="section" id="start"></app-head>

  <app-page1 class="section" id="rules"></app-page1>
  <div class="view jarallax" style="height: 50vh;">
    <img class="jarallax-img" src="/assets/heidelberg-2726936_1920.jpg" alt="">
  </div>

  <app-page2 class="section" id="page3"></app-page2>
  <div class="view jarallax" style="height: 50vh;">
    <img class="jarallax-img" src="/assets/heidelberg-2726938_1920.jpg" alt="">
  </div>
  <div></div>
  <app-page3 class="section" id="ts"></app-page3>
  <div class="view jarallax" style="height: 50vh;">
    <img class="jarallax-img" src="/assets/landscape-3671720_1920.jpg" alt="">
  </div>

  <app-page4 class="section" id="minecraft"></app-page4>
  <app-footer></app-footer>

</div>

<router-outlet></router-outlet>